.pagesButton {
    background-color: rgb(51,94,234);
    color: white;
    border: none;
    height: 65px;
    width: 200px;
    border-radius: 5px;
    font-size: 17px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}

.documentationButton {
    background-color: rgb(234, 238, 253);
    color: rgb(51,94,234);
    border: none;
    height: 65px;
    width: 175px;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.introText {
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

.introText h1 {
    color: black;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.landkit {
    color: rgb(51,94,234);
    font-family: 'Open Sans', sans-serif;
}

.introText p {
    color: rgb(155, 179, 198);
    font-family: 'Open Sans', sans-serif;
}